<!DOCTYPE html>
<html>
  <head>
    <script>
      try {
         window.nodeRequire = require; 
         delete window.require;
         delete window.exports; delete window.module;
         console.log('fixed jquery')
      } catch(err) {
         console.log('ignore when running in real browser')
      }
      
    </script>
    <script>ROOT = '' //- sets global pug and .js from dat.yaml
      console.log('root','')
      let _start=Date.now()
      window.onerror = function (msg, url, lineNo, columnNo, error) {
         console.log(msg, url, lineNo)
         return false
      }
      
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Metabake.net</title>
    <link rel="shortcut icon" href="undefinedassets/favicon.png" type="image/x-icon">
    <script src="https://cdn.jsdelivr.net/npm/loadjs@3.5.4/dist/loadjs.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/riot@3.13.2/riot.min.js"></script>
    <script src="https://unpkg.com/axios@0.19.0-beta.1/dist/axios.min.js"></script>
    <!--script(src='https://cdn.jsdelivr.net/npm/johnnydepp@0.0.3/dist/depp.min.js')-->
    <style>
      .delayShowing { opacity: 0.01; }
      
    </style>
  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
    <script src="undefinedassets/js/setup.js"></script>
    <!--top-->
    <div class="delayShowing flex edge bblack white pad" id="head">
      <h3 class="left navbar-brand text-bold" id="navbarBrand">News Feed</h3>
      <div class="right">
        <button class="btn" id="butLogOut">Exit</button>
      </div>
    </div>
    <div class="columns delayShowing">
      <div class="column bblack white" id="menu">
        <ul class="nav">
          <li class="nav-item"><a href="/fROOT/">Home
              <svg class="nav-ico feather" viewBox="0 0 24 24">
                <polyline points="22 12 18 12 15 21 9 3 6 12 2 12"></polyline>
              </svg></a></li>
          <li class="nav-item"><a href="/fROOT/screen/tabulator">News (tabulator)
              <svg class="nav-ico feather" viewBox="0 0 24 24">
                <polyline points="22 12 18 12 15 21 9 3 6 12 2 12"></polyline>
              </svg></a></li>
        </ul>
      </div>
      <div class="column" id="router">
      </div>
    </div>
    <script></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="undefinedassets/css/main.css" rel="stylesheet">
    <script>
      function userSzSc() {
         console.log('resize|scroll')
      }
      
    </script>
  </body>
  <!--link(href= ROOT + 'assets/css/debug.css', rel='stylesheet')-->
</html>