extends /layout/layout
//- App Shell

block main
   #feedList.bl-feedList
   
   script.
      depp.require(['feedRSS', 'DOM'], function () {
         
         window.bindF.getViewList(1);
         var itemsLength = 0
         
         addEventListener('onBrowser', function (evt) {
                var itemsLength = $('#feedList').children().length
                if (itemsLength && inView($('#feeditem-comp_' + (itemsLength-2)))) 
                    if(itemsLength < window.bindF.totalResults)
                        disE('loadMore')
                
            })
         
         addEventListener('loadMore', function (evt) {
            window.bindF.page++
            window.bindF.getViewList();
        })
      });