extends /layout/layout
//- App Shell

block main

   .pad
      #feed-table.table-custom

      script.
         loadjs.ready(['services'], function () {
            let apiService = new ApiService();
            apiService.getFeedData()
               .then(feed => {
                  console.log('feed.data.articles', feed.data.articles);
                  //- let tabledata = [
                  //-    {id:1, email:"Oli Bob", name:"Oli Bob"}
                  //- ];

                  this.table = new Tabulator("#feed-table", {
                     data:feed.data.articles,         // assign data to table
                     layout:"fitColumns",    // fit columns to width of table
                     columns:[               // Define Table Columns
                        {title:"id", field:"id", visible:false},
                        {title:"Source", field:"source.name", align:"left"},
                        {title:"Author", field:"author", align:"left"},
                        {title:"Title", field:"title", align:"left"},
                        {title:"Content", field:"content", align:"left"}
                     ],
                     rowClick:(e, row) => { // fill the form fields
                        this.activeRow = row;
                        var row = row.getData();
                        window.rowUid = row.id;
                        $('input[name="name"]').val(row.name);
                        $('input[name="email"]').val(row.email);

                        $('html, body').animate({ // scroll to form
                            scrollTop: $("#editor-form").offset().top
                        }, 500);
                     },
                  });
               });


         });