
.section1.section
	.cont
		H4 Join YAML files into one JSON file - to fetch.
		img(src='1json.png')
		H4 ex: nbake -i .

.section2.section
	.cont
		H3 Pug does dynamic binding also, out of the box - in the browser.
		img(src='2simple_dynamic.png')
		H3 Like Mustache, doT.js, etc. etc.
		H3 ex: nbake . // looks for _d.pug and assumes it's dynamic.

.section3.section
	.cont
		H3 Another example app: blog - like static gen.
		img(src='3nbake_blog.png')
		H2 Can be any item. Ex: Trucker DB.

.section4.section
	.cont
		H3 CSS
		img(src='4css.gif')

// /////////////////////////////////////////////////
.section1.section
	.cont
		H4 Pre-process
		img(src='5css.png')

.section2.section
	.cont
		H3 Some good interview questions
		img(src='6css.png')
		H4 Ex: Absolute in relative

.section3.section
	.cont
		H3 Pick a front end framework to start
		img(src='6frontF.png')
		H4 What did you expect?

.section4.section
	.cont
		H3 One list of Front End Frameworks:
		img(src='7fw.png')