extends /layout/_layout
//- App Shell

block head
	//static binding ex:
	title #{title}

block main
	p
	.ui.text.container
		include _pinc
	
	script.
		loadjs.ready('style', function () {
			log.log('page 1 script here')
		})

