* {
	letter-spacing: .05em !important;
}

/*.ui.menu {
	height: 1.5em !important;
}*/

body, html  {height: 100%; }
.bg {
	background-image: url("/assets/img/road-sm.jpg");
	height: 100%;
	/*background-position: center; // in style ready */
	background-repeat: no-repeat;
	background-size: cover;
}

#menu {
	min-height:4em;
}

#menu .secondary.inverted.button {
	width: 100%;
}



.article.ui.segments {
	margin-top:-10px;padding-top:-10px;
}

.card {
	height:100%; /* make all cards same height */
}

img.article {
	width:100% 
}

a.ui.tiny.secondary.inverted.button {
	width:100%
}

/*.pusher {
	margin-top: 1.5em;
}

@media only screen and (max-width: 701px) {
	.computer_only {
		display: none !important;
	}
}*/
