script(src='tags/fieldD-tag.js')

br
.ui.segment
	#f2.ui.form
		h4.ui.dividing.header NBake Items
		fieldD-tag

		.ui.message.hidden
		button#data.ui.button(type='submit') Add data

script.
	// data binding should be inside riot tag
	loadjs.ready('site', function () {
		console.log('auth', isUserIn()) // if not, you can gray out the page with a modal

		let myDtag = riot.mount('fieldD-tag')[0] // the first tag

		$('#data').click(function(){
			myDtag.clicked()
		})//click

	}) //on ready

