doctype html
html
   head
      include ../includes/headFrag
      include ../includes/devOps

      script(src= '../../assets/js/loader.js')
   body
      script.
         depp.require(['feedRSS', 'DOM'], function () {
            window.bindF = new BindFeed()
            console.info("--window.bindF:", window.bindF)
            //- window.bindF.read()
         })
      #router
         .container.grid-lg
            .columns
               .column.col-10.col-mx-auto
                  header.navbar
                     section.navbar-section
                        a.btn.btn-link(href='../../screen/feed/index.html') Feed
                  block main
