<?xmlversion='1.0'encoding='utf-8'?>
<widgetid="XXX"version="1.0.0"xmlns="http://www.w3.org/ns/widgets"xmlns:gap="http://phonegap.com/ns/1.0">
	<name>blankname</name>
	<description>
		AblankPhoneGapapp.
	</description>
	<authoremail="support@phonegap.com"href="http://phonegap.com">
		PhoneGapTeam
	</author>
	<contentsrc="index.html"/>

	<accessorigin="*"/>
</widget>
