extends /layout/layout
//- App Shell

block main

   .pad Oh Hi1

   #cal1.pad
      p Date:
         input#date1(readonly='')
      br
      p Time:
         input#time1(readonly='')

   //so it has room to open
   style.
      #cal1 {
         height: 300vh; 
      }
   //link(href= ROOT + 'assets/css/debug.css', rel='stylesheet')

   script.
      console.log('pgC')
      loadjs.ready(['cssJs','device'], initCal)

      function initCal() {
         $('#date1').pickadate({
            editable: false,
            clear: ''
         })
         $('#time1').pickatime({
            editable: false,
            clear: '',
            min: new Date(2015,3,20,10),
            max: new Date(2015,7,14,20,30),
            interval: 90,
            disable: [  true,
               [14,30], [12+7,0]
            ]
         })

      }//()
