
// specific:
script.
	const fconfig = {
		apiKey: 'AIzaSyASZVGB4s1uKB4OdxPCcbJ3ebf44KUYdIE',
		authDomain: 'nbake1-1.firebaseapp.com',
		projectId: 'nbake1-1'
	}

// CRUD generic ///////////////////////////////////////////////////////////////////
script(src='//www.gstatic.com/firebasejs/4.13.0/firebase-app.js')
script(src='//www.gstatic.com/firebasejs/4.13.0/firebase-auth.js')
script(src='//www.gstatic.com/firebasejs/4.13.0/firebase-firestore.js')

script.
	//CRUD ver 3.05.01
	firebase.initializeApp(fconfig)
	const auth =firebase.auth()
	auth.setPersistence(firebase.auth.Auth.Persistence.LOCAL)

	const db  = firebase.firestore()
	const dsettings = {/* your settings... */ timestampsInSnapshots: true}
	db.settings(dsettings)

	function isUserIn() { // use this to check if user is auth and valid
		if(!auth.currentUser) return false
		return auth.currentUser.emailVerified
	}

	function sendEmailVerification() {
			if(!isUserIn()) {
				console.log('sending', auth.currentUser)
				auth.currentUser.sendEmailVerification()
			}
			else
				console.log('no currentUser')
	}

	// example use ///////////////////////////////////////////////////////////
	/* put in header so you have data, ex:
		link(rel='icon', href='/favicon.ico')
		include crud
	*/
	// IMPORTANT, in FireStore set:
	// allow read, write: if request.auth.token.email_verified == true ;


	auth.onAuthStateChanged(function(user_) {
		if (isUserIn()) {
			console.log('CRUDauth', isUserIn())
		}
		else {
			console.log('CRUDauth','bye')
		}
	})

	/* Example.
		$('#up').click(function(){
			let email = $('#f1 [name="email"]').val()
			let pswd = $('#f1 [name="pswd"]').val()
			console.log(email,pswd)
			auth.createUserWithEmailAndPassword(email,pswd)
				.then(function(user) {
					sendEmailVerification()
				})
				.catch(function(error){
					//show error in .message
					console.log(error)
				})
		})//click

		$('#in').click(function(){
			let email = $('#f1 [name="email"]').val()
			let pswd = $('#f1 [name="pswd"]').val()
			console.log(email,pswd)
			auth.signInWithEmailAndPassword(email,pswd)
				.then(function(user) {
					console.log(user)
				})
				.catch(function(error){
					console.log(fail, error)
				})
		})//click

		$('#out').click(function(){
			console.log('out')
			auth.signOut()
		})//click

		$('#rest').click(function(){
			let email = $('#f1 [name="email"]').val()
			console.log(email)
			auth.sendPasswordResetEmail(email)
		})//click

	*/





