
feed-tag

	<virtual each={ items}>

		a(href='{url}')
			.ui.fluid.blue.card
				.image
					img(src= '{image}')
				.content
					.header {title}
					.meta {created}
					.description
						| {content_html}
				.extra.content
					h5.ui.image.header
						img.ui.avatar.image( src= '{ author.avatar }' )
						.content { author.name }

		p
	</virtual>

	script.

		init()
		function init() {
			thiz = this
			loadjs.ready(['feed'], function () {
				console.log('sz', feed.items.length)

				first()
				//add(2)// init

				setTimeout(function(){
					loadjs.done('firstPg')
				},1000/60)
			}) //ready

			loadjs.ready(['style','firstPg'], function () {
				// setup viewport event
				const addEl = document.getElementById('add')
				let observer = new IntersectionObserver(function(e){
					if(e[0].isIntersecting) {
						console.log('I can see the end')
						// add(2) // :-)
					}//fi
				})// observer event
				observer.observe(addEl)
			}) // cssJs
		}

		addFew(c) {// public
			add(c)
		}

		this.items = []
		this.feed =[]
		thiz = this

		function first() {
			thiz.feed = feed.items
			for(let item of thiz.feed) {
				item.url = '/blog/' + item.url +'/'
				item.image =  item.url + item.image
				console.log(item.image)
			}

			add(2)
		}

		function add(c) {

			// loop c times
			thiz.items.push( thiz.feed.pop())

			thiz.update()

		}



