fieldD-tag
	.field
				label Data
				input(type='text', name='dat', placeholder='more data')

	script.
		clicked(arg) {
			let data = $('#f2 [name="dat"]').val()
			console.log(data)

			let newRow = {
				col1: data,
				col2: true,
				col3: 3.14159265
			}

			var newPK = db.collection('table_one').doc()// make PK
			newPK.set(newRow)//insert
				.then(function() { // optional handling
					console.log('successfull')
				})
				.catch(function(error) {
					console.error('oops', error)
				})

		}// clicked
